/* Base Styles */
.isTabletOrMobile-container {
    width: 100vw;
    height: 100vh;
    display: grid;
    background-size: 100% 100%;
    position: relative;
    background-image: url('../src/images/bg-update-mobile.png');
    background-repeat: no-repeat;
    background-color: #FFEADB;
}

.isTabletOrMobile-yellow-line {
    position: absolute;
    top: -4%;
    right: 0;
    width: 83px;
    height: 8px;
    background-color: #FF6C02;
}

.isTabletOrMobile-flip-clock {
    --fcc-flip-duration: 0.5s;
    --fcc-digit-block-width: 40px;
    --fcc-digit-block-height: 60px;
    --fcc-digit-border-radius: 100px;
    --fcc-digit-font-size: 30px;
    --fcc-label-font-size: 14px;
    --fcc-digit-color: white;
    --fcc-label-color: black;
    --fcc-background: #2A150F;
    size: 120px;
    padding-bottom: 10px;
}

.isTabletOrMobile-flip-clock ._2EBbg {
    border-radius: 10px;
}

.isTabletOrMobile-flip-clock ._2aOn7 {
    border-radius: 10px;
    outline: 0;
    bottom: -13px;
}

.isTabletOrMobile-time-container {
    left: 50%;
    transform: translateX(-50%);
    top: 42% !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 45px 40px 18px 40px;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-color: white;
    background-size: contain;
    background-position: center;
    position: absolute;
}

.isTabletOrMobile-input-container {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    width: 400px;
}

.isTabletOrMobile-input-container .isTabletOrMobile-notify-btn {
    position: absolute;
    right: 10%;
    margin: 5px;
}

.isTabletOrMobile-email-input {
    width: 80%;
    height: 50px;
    margin-top: 13px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 18px;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    margin-bottom: 8px;
}

.isTabletOrMobile-email-input::placeholder {
    color: #8B8B8B;
}

.isTabletOrMobile-notify-button {
    width: 100%;
    height: 40px;
    margin-top: 13px;
    padding: 0px 10px;
    border: none;
    border-radius: 4px;
    background-color: #2a150fdf;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
}

.isTabletOrMobile-notify-button:hover {
    background-color: #2A150F;
}

.isTabletOrMobile-clock_content {
    padding: 60px;
    display: flex;
    flex-direction: column;
    align-items: start;
    font-family: 'Laila', sans-serif;
}

.isTabletOrMobile-clock_content h1 {
    color: #2A150F;
    font-size: 70px;
    font-weight: 600;
    margin-top: 30px;
    font-family: 'Laila', sans-serif;
}

.isTabletOrMobile-clock_content h4 {
    color: var(--white-color);
    font-size: 24px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
}

.isTabletOrMobile-clock_content h3 {
    color: var(--primary-color);
    font-weight: 400;
    font-size: 40px;
    margin-bottom: 15px;
    font-family: 'Inter', sans-serif;
}

.button {
    width: 140px;
    height: 40px;
    font-size: 1rem;
    font-weight: 500;
    color: #000;
    background-color: var(--white-color);
    border: none;
    border-radius: 12px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.button:hover {
    background-color: var(--primary-color);
    color: var(--white-color);
    transform: translateY(-7px);
    box-shadow: 0 15px 20px rgb(112, 212, 251);
}

.isTabletOrMobile-social-decoration {
    display: flex;
    align-items: center;
    gap: 11px;
    margin-top: 20px;
    justify-content: center;
    outline: none;
}

.isTabletOrMobile-social-icons {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 45px;
    padding: 12px;
    outline: none;
    align-items: center;
    cursor: pointer;
    font-size: 20px;
    transition: all 0.3s ease 0s;
    border-radius: 50px;
    border: none;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    background-color: transparent;
}

.isTabletOrMobile-social-decoration .social-icons svg:hover {
    transform: translateY(0);
}

.isTabletOrMobile-social-decoration :hover {
    align-items: center;
    text-align: center;
    background-color: var(--primary-color);
    color: var(--white-color);
    transform: translateY(-4px);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

/* Loading.css */
.isTabletOrMobile-loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: black;
}

.loader {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../src/images/giphy.gif');
    width: 250px;
    height: 250px;
}

/* @media (max-width: 991px) {

    .isTabletOrMobile-image-container {
        height: 54.7vh !important;
    }

    .isTabletOrMobile-time-container {
        left: 50%;
        transform: translateX(-50%);
        top: 34% !important;
    }
}

@media (max-width: 767px) {

    .isTabletOrMobile-image-container {
        height: 57vh !important;
    }

    .isTabletOrMobile-time-container {
        top: 40% !important;
    }
}

@media (max-width: 576px) {

    .isTabletOrMobile-image-container {
        height: 53.8vh !important;
    }

    .isTabletOrMobile-time-container {
        top: 38% !important;
    }
} */